:root {
    --main-color: #333333;
}

* {
    box-sizing: border-box;
}

body {
    text-align: center;
    overflow: hidden;
}

.page-404 {
    font-family: 'Arvo', serif;
    background: #fff;
}

.image {
    background-image: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif");
    width: 70%;
    height: 400px;
    background-position: center;
    text-align: center;
    margin: 20px auto;
}

@media (max-width: 768px) {
    .image {
        width: 100%;
        height: 385px;
    }
}

.image h1 {
    font-weight: 100;
    font-size: 80px;
    color: var(--main-color);
    transform: translateY(-20px);
}

@media (max-width: 768px) {
    .image h1 {
        font-size: 65px;
    }
}

h3 {
    color: var(--main-color);
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
}

p {
    color: var(--main-color);
    margin-top: -5px;
}

a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #fff;
    background-color: #39ac31;
    padding: 10px 20px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}